/*
Source here: https://github.com/FIMARx/RainbowDiscord

This style is made by FIMARx.

Dm my discord for help. FIMARx#1321

Sub to my youtube channel https://www.youtube.com/channel/UCLxuarUbS3qzUy2SpLf3WEg

Join my discord server https://discord.gg/xC3ZrYXqnM
*/
.title-eS5yk3 {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.name-1jkAdW {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.username-1A8OIy {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.roleColor-rz2vM0 {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
/*.px-10SIf7 .botText-1526X_ {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
*/
.activityText-yGKsKm {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.title-29uC1r {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.subtext-3CDbHg {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.container-2ax-kl {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.icon-1DeIlz {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.name-23GUGE {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.actionIcon-PgcMM2 {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.app-2rEoOp button {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.item-2hkk8m {
    color: white;
    animation: background 5s linear 0s infinite alternate;
}
.botTagRegular-2HEhHi {
    color: white;
    animation: bgrgb 5s linear 0s infinite alternate;
}
.botTagRegular-2HEhHi {
    color: white;
    animation: background 5s linear 0s infinite alternate;
}
.clickable-3rdHwn .icon-22AiRD {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.name-uJV0GL {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.linkButtonIcon-Mlm5d6 {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    color: white;
    animation: background 5s linear 0s infinite alternate;
}
.icon-22AiRD {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.activityText-OW8WYb {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.subtext-1RtU34 {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.username-31C1TQ {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.icon-35-fSh {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.button-1w5pas {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.icon-3cZ1F_ {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
/* When you write text to search box it'll be rainbow
.search-2oPWTC .DraftEditor-root {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
*/
.base-1x0h_U {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.colorStandard-2KCXvj {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
/* when you write text it will be rainbow too
.slateTextArea-1Mkdgw {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
} 
*/
.text-3MU_QQ {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.icon-15YQ1T {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.tabBar-ZmDY9v .item-3HknzM {
    color: white;
    animation: background 5s linear 0s infinite alternate;
}
.colorHeaderSecondary-3Sp3Ft {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.quickswitcher-3JagVE * {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.nameTag-m8r81H .discriminator-19kRMP,
.nameTag-m8r81H .username-2b1r56 {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    color: white;
    animation: background 5s linear 0s infinite alternate;
}
.nameTag-m8r81H {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.reactionCount-2mvXRV {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.childWrapper-anI2G9 {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.icon-3D60ES {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.sprite-2iCowe,
.emojiButtonHovered-1rWNal,
.emojiButtonNormal-TdumYh,
.emojiButton-3uL3Aw,
.button-3AYNKb,
.attachButtonPlus-jWVFah {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.circleIcon-LvPL6c {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.circleIconButton-jET_ig {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.closedFolderIconWrapper-15K9MK {
    color: white;
    animation: background 5s linear 0s infinite alternate;
}
.expandedFolderBackground-2sPsd- {
    color: white;
    animation: background 5s linear 0s infinite alternate;
}
.expandedFolderIconWrapper-1xLaU- {
    color: white;
    animation: background 5s linear 0s infinite alternate;
}
.base-gE7OpD .text-1y-e8- {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.cozy-3raOZG .timestamp-3ZCmNB {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.theme-dark .mentioned-xhSam7 .mention,
.theme-light .mentioned-xhSam7 .mention {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.wrapper-3WhCwL {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.markup-2BOw-j a {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.anchor-3Z-8Bb {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.cancelButton-3hVEV6,
.downloadButton-23tKQp {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.icon-1kp3fr {
    color: white;
    animation: background 5s linear 0s infinite alternate;
}
.metadata-3WGS0M {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
/* edit/reaction/delete background area to be rgb
.wrapper-2aW0bm {
    color: white;
    animation: background 5s linear 0s infinite alternate;
} 
*/
.icon-3Gkjwa {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.categoryIcon-1SvUHG {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.headerLabel-3dG4M- {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.headerCollapseIcon-ymwSPR {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.header-19cWci {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.lookBlank-3eh9lL {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.nicknames-1XK4Zt,
.spacer-3kEb8l {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.akaBadge-1M-1Gw {
    color: white;
    animation: background 5s linear 0s infinite alternate;
}
.headerName-fajvi9,
.headerTagUsernameNoNickname-2_H881 {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.bodyTitle-Y0qMQz {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.roleName-32vpEy {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.protip-YaFfgO {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.activityName-1IaRLn,
.nameNormal-2lqVQK,
.nameWrap-3Z4G_9 {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.details-38sfDr,
.nameNormal-2lqVQK,
.playTime-2uWd1Z,
.state-Tt0LO3,
.timestamp-VjAZmo {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.unread-2lAfLh {
    color: white;
    animation: background 5s linear 0s infinite alternate;
}
.icon-2yIBmh {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.label-22pbtT {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.arrow-gKvcEx {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.icon-2aINcz,
.text-2e2ZyG {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.disableColor-2z9rkr,
.iconBackgroundTierNone-3ZkOsa,
.iconBackgroundTierOne-2OQMBY,
.iconBackgroundTierThree-FWlUL9,
.iconBackgroundTierTwo-Eab9L6 {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.topic-TCb_qw.expandable-9fI_e3 {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.edited-3sfAzf {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.repliedTextContentIcon-1ivTae {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .description-2ug5H_ .filename-ovv3c5 {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.uploadModal-2ifh8j .inner-3nWsbo .comment-4IWttf .label-3aiqT2 {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.uploadModal-2ifh8j .inner-3nWsbo .comment-4IWttf .label-3aiqT2 .optional--ezibr {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.sprite-2iCowe {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6 {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.description-1sDbzZ {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.colorHeaderPrimary-26Jzh- {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.needAccount-23l_Wh {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.colorPremium-p4p7qO .icon-LYJorE {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.icon-LYJorE,
.iconContainer-2-XQPY {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.mentioned-xhSam7:before {
    color: white;
    animation: background 5s linear 0s infinite alternate;
}
.menu-319q29 {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.header-2RyJ0Y {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.side-8zPYf6 .item-PXvHYJ {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.theme-dark .foreground-26ym5y {
    color: white;
    animation: fill 5s linear 0s infinite alternate;
}
.added-2hLRj3.marginTop-2incQ6,
.fixed-3zCC84.marginTop-2incQ6,
.improved-1NJK-y.marginTop-2incQ6,
.progress-YsDrV-.marginTop-2incQ6 {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.theme-dark .content-s2SEQO ul li:before {
    color: white;
    animation: background 5s linear 0s infinite alternate;
}
.content-s2SEQO h1,
.content-s2SEQO h2,
.content-s2SEQO strong {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.localeName-2oaRo4 {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.attachButtonPlus-jWVFah {
    color: white;
    animation: fill 5s linear 0s infinite alternate;
}
.sprite-2iCowe {
    color: white;
    animation: fill 5s linear 0s infinite alternate;
}
.connectedAccountName-f8AEe2 {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.topSectionNormal-2-vo2m .discriminator-xUhQkU {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.badge-_BgAUQ {
    color: white;
    animation: background 5s linear 0s infinite alternate;
}
.roleOverflow-1zjC9k {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.total-i6us2n {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.listDefault-3ir5aS .clickable-1lCRLF.selected-3t3Csj .username-3KYl0N,
.usernameSpeaking-RmltQx {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.pingForeground-2uAOZ3 {
    color: white;
    animation: fill 5s linear 0s infinite alternate;
}
.discriminator-22Okc1 {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.headerText-2uyvpY {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.select-2fjwPw {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.contents-18-Yxp {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.topSectionNormal-2-vo2m .activityHeader-1PExlk,
.topSectionNormal-2-vo2m .customStatusText-39gdCI {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.userInfoSectionHeader-CBvMDh {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.connectedAccountOpenIcon-2cNbq5 {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;
}
.customStatusText-3YJeRZ {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;    
}
.hovered-d5PMVU {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;    
}
.customStatus-3tC2ig {
    color: white;
    animation: mytext 5s linear 0s infinite alternate;    
}
/* KeyFrames for text */
@keyframes mytext {
    100%,
    0% {
        color: rgb(255, 0, 0);
    }
    8% {
        color: rgb(255, 127, 0);
    }
    16% {
        color: rgb(255, 255, 0);
    }
    25% {
        color: rgb(127, 255, 0);
    }
    33% {
        color: rgb(0, 255, 0);
    }
    41% {
        color: rgb(0, 255, 127);
    }
    50% {
        color: rgb(0, 255, 255);
    }
    58% {
        color: rgb(0, 127, 255);
    }
    66% {
        color: rgb(0, 0, 255);
    }
    75% {
        color: rgb(127, 0, 255);
    }
    83% {
        color: rgb(255, 0, 255);
    }
    91% {
        color: rgb(255, 0, 127);
    }
}
/* KeyFrames for backgrounds */
@keyframes background {
    100%,
    0% {
        background-color: rgb(255, 0, 0);
    }
    8% {
        background-color: rgb(255, 127, 0);
    }
    16% {
        background-color: rgb(255, 255, 0);
    }
    25% {
        background-color: rgb(127, 255, 0);
    }
    33% {
        background-color: rgb(0, 255, 0);
    }
    41% {
        background-color: rgb(0, 255, 127);
    }
    50% {
        background-color: rgb(0, 255, 255);
    }
    58% {
        background-color: rgb(0, 127, 255);
    }
    66% {
        background-color: rgb(0, 0, 255);
    }
    75% {
        background-color: rgb(127, 0, 255);
    }
    83% {
        background-color: rgb(255, 0, 255);
    }
    91% {
        background-color: rgb(255, 0, 127);
    }
}
/* fills */
@keyframes fill {
    100%,
    0% {
        fill: rgb(255, 0, 0);
    }
    8% {
        fill: rgb(255, 127, 0);
    }
    16% {
        fill: rgb(255, 255, 0);
    }
    25% {
        fill: rgb(127, 255, 0);
    }
    33% {
        fill: rgb(0, 255, 0);
    }
    41% {
        fill: rgb(0, 255, 127);
    }
    50% {
        fill: rgb(0, 255, 255);
    }
    58% {
        fill: rgb(0, 127, 255);
    }
    66% {
        fill: rgb(0, 0, 255);
    }
    75% {
        fill: rgb(127, 0, 255);
    }
    83% {
        fill: rgb(255, 0, 255);
    }
    91% {
        fill: rgb(255, 0, 127);
    }
}
